/* Base liteap  */
body {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;}

::-moz-selection {
  background: #45d51d;
  color: #fff; }

::selection {
  background: #45d51d;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: 'Roboto Condensed', sans-serif;  
}
.img-absolute{overflow: hidden;}
.img-absolute img:hover{transform: scale(1.1);transition: 2s;}
.platform-logo img{width: 60px; height: auto !important; margin: 1px 12px;}

