

{% extends "liteapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% load i18n %}

{% block content %}

		<div class="intro-section" id="home-section">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 mr-auto intro-section-01" data-aos="fade-up">
								<h1>Welcome to my profile</h1>
								{{ localize_key }}
								<p class="mb-2">{{ desc | safe  }}</p>
								
								<p class="download-cv"><a class="btn btn-outline-light py-3 px-5" href="{% static 'liteapp/doc/Debasis_Nath_Resume.pdf' %}" target="_blank" >Download My Resume</a></p>
					</div>

					<div class="col-lg-2 ml-auto intro-section-02"  data-aos="fade-up" data-aos-delay="100">
								<ul class="contact-details">
										<li>
										<span>Phone: <a href="tel:+918827234375">+918827234375</a></span>
										</li>
										<li>
												 E-mail: <a href="mailto:debasisnth@gmail.com">debasisnth@gmail.com</a>
										</li>
								</ul>
								<figure class="img-absolute">
									<!-- <img src="images/person_1.jpg" alt="Image" class="img-fluid">  -->
									<img src="{% static 'liteapp/images/debasis_nath_5.jpg' %}" alt="Image" class="img-fluid">
								</figure>
						</div>
				</div>
			</div>
		</div>

		<div class="site-section bg-light" id="work-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-2">
						
						<h2 class="section-title">Web Works</h2>

						{{ desc2 |safe  }}

					</div>
				</div>
			</div>
		</div>

		<div class="site-section" id="contact-section">
			<div class="container">

				<!-- justify-content-center -->
				<div class="row justify-content-center"> 

					<div class="col-md-12  border">


						
						<h2 class="section-title mb-3">Message Here</h2>
						<p class="mb-5">Let us build something amazing and get the job done, Hire me!</p>
					

						<form method="post"  data-aos="fade-up" data-aos-duration="3000"  class="get-in-touch">
								{% csrf_token %}
								{{ form|crispy }}
								<div class="form-actions">
									<button class="btn btn-primary py-3 px-5 btn-block" type="submit">Send</button>
								</div>
						</form>



					</div>
				</div>
			</div>
		</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}