

{% extends "liteapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% load i18n %}

{% block content %}

{{ localize_key }}
		<div class="intro-section" id="home-section">
			<div class="px-4">
				<div class="text-center profile-heading mb-5">
					<h1 class="text-dark">Welcome to my profile</h1>
				</div>
				<div class="row align-items-center">
					<div class="col-6 intro-section-01" data-aos="fade-up">
						<div class="shadow rounded p-3">
							
						<p class="mb-2 text-justify">{{ desc | safe  }}</p>
												
						<p class="download-cv text-center">
							<a class="btn btn-outline-info py-2 px-4" href="{% static 'liteapp/doc/Debasis_Nath_Resume.pdf' %}" target="_blank" >Download My Resume</a>
						</p>
						</div>
					</div>

					<div class="col-6 intro-section-02"  data-aos="fade-up" data-aos-delay="100">
								
						<figure class="img-absolute">
							<!-- <img src="images/person_1.jpg" alt="Image" class="img-fluid">  -->
							<img src="{% static 'liteapp/images/debasis_nath_6.jpg' %}" alt="Image" class="img-fluid rounded">
						</figure>
					</div>
				</div>
				<div class="tech-stack shadow my-5 rounded p-4">
					<div class='mt-2 text-center'>
						<h4 class='text-dark'>My Tech Stack</h4>
					</div>
					<div class="mt-4 container">
						<img
						src = "{% static 'liteapp/images/tech-stack/react-2.svg' %}"
						alt="React"
						title="React"
						style=" height:42px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/logo_lockup_firebase_horizontal.svg' %}"
						alt="Firebase"
						title="Firebase"
						style=" height:36px;  "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/typescriptlang-icon.svg' %}"
						alt="Typescript"
						title="Typescript"
						style=" height:36px;  "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/angular-icon.svg' %}"
						alt="Angular"
						title="Angular"
						style=" height:36px;  "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/reactivex.svg' %}"
						alt="reactive x"
						title="Reactive x"
						style=" height:36px;  "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/python-3.svg' %}"
						alt="Python"
						title="Python"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/django-logo-svg-vector.svg' %}"
						alt="Django"
						title="Django"
						style=" height:36px; background: white; "
						/>
						
						<img
						src = "{% static 'liteapp/images/tech-stack/nodejs-2.svg' %}"
						alt="Node JS"
						title="Node JS"
						style=" height:42px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/serverless-ar21.svg' %}"
						alt="ServerLess Framework"
						title="Serverless Framework"
						style=" height:42px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/linode-1.svg' %}"
						alt="Linode"
						title="Linode"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/amazon-s3.svg' %}"
						alt="Aws S3"
						title="AWS S3"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-lambda-1.svg' %}"
						alt="Aws Lambda"
						title="AWS Lambda"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-dynamodb.svg' %}"
						alt="dynamodb"
						title="AWS Dynamodb"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-api-gateway.svg' %}"
						alt="Api GetWay"
						title="AWS Api GetWay"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-cognito.svg' %}"
						alt="cognito"
						title="AWS Cognito"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-iam.svg' %}"
						alt="aws-iam"
						title="AWS IAM"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-ec2.svg' %}"
						alt="Aws-EC2"
						title="AWS EC2"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-amplify.svg' %}"
						alt="AWS Amplify"
						title="AWS Amplify"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/aws-rokognition.svg' %}"
						alt="AWS-Rokognition"
						title="AWS Rekognition"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/amazon-textract.svg' %}"
						alt="AWS-Textract"
						title="AWS Textract"
						style=" height:36px; "
						/>


						<img
						src = "{% static 'liteapp/images/tech-stack/git-scm-icon.svg' %}"
						alt="Git"
						title="Git"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/php.svg' %}"
						alt="PHP"
						title="PHP"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/symfony.svg' %}"
						alt="Symfony"
						title="Symfony"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/mariadb.svg' %}"
						alt="Mariadb"
						title="Mariadb"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/mysql-vector.svg' %}"
						alt="Mysql"
						title="Mysql"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/ubuntu-4.svg' %}"
						alt="Ubuntu"
						title="Ubuntu"
						style=" height:36px; "
						/>
						<img
						src = "{% static 'liteapp/images/tech-stack/postgresql.svg' %}"
						alt="PostgreSQL"
						title="PostgreSQL"
						style=" height:36px; "
						/>

						<img
						src = "{% static 'liteapp/images/tech-stack/raspberry-pi.svg' %}"
						alt="Raspberry Pi"
						title="Raspberry Pi"
						style=" height:36px; "
						/>
						

					</div>
					

				</div>
			</div>
		</div>

		<div class="site-section bg-light" id="work-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-2">
						
						<h2 class="section-title">Project Works</h2>

						{{ desc2 |safe  }}

					</div>
				</div>
			</div>
		</div>

		<div class="site-section" id="contact-section">
			<div class="container">

				<!-- justify-content-center -->
				<div class="row justify-content-center"> 

					<div class="col-md-12  border">


						
						<h2 class="section-title mb-3">Message Here</h2>
						<p class="mb-5">Let us build something amazing and get the job done, Hire me!</p>
					

						<form method="post"  data-aos="fade-up" data-aos-duration="3000"  class="get-in-touch">
								{% csrf_token %}
								{{ form|crispy }}
								<div class="form-actions">
									<button class="btn btn-primary py-3 px-5 btn-block" type="submit">Send</button>
								</div>
						</form>



					</div>
				</div>
			</div>
		</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}